.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.slick-dots{
  list-style: none;
  text-align: center;
  
  button{
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: #332208;
    border: none;
    border-radius: 50%;
    padding: 0;
  }
}

.slick-active button{
  width: 16px;
  height: 16px;
}

.video-popup{

  background-color: #C5AC2D;
  text-transform: uppercase;
  color: white;
  padding: 6px 34px 6px 64px;
  text-align: center;
  display: inline-block;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 34px;
    top: 12px;
    background-image: url('../images/icon_video-popup.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/*---------header----------*/

.header{

  padding: 27px 0;
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
  background: #332208;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__menu{
    display: flex;
  }

  &__item{
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 15px;
    padding: 5px 0;
    transition: all .5s;
    border-bottom: 1px solid transparent;

    &:hover{
      border-bottom: 1px solid #fefefe;
    }
  }

  &__burger{
    display: none;
    width: 35px;
    height: 24px;
    border: none;
    cursor: pointer;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    background-color: transparent;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #fefefe;
      left: 0;
      top: 9px;
    }
  }
}

@media(max-width: 860px){
  .header{

    &__menu{
      display: block;
      position: absolute;
      top: 100px;
      left: 0;  
      right: 0;
      background-color: #332208;
      text-align: center;
      padding-bottom: 20px;
      transform: translateY(-500px);
      transition: all .5s;

      &-active{
        transform: translateY(0);
      }
    }

    &__item{
      &-link{
        display: block;
        padding: 10px 0;
      }
    }

    &__burger{
      display: block;
      order: 1;
    }
  }
}

/*-------------main-------------------------*/

.main{
  padding-bottom: 100px;

  &__heading{
    padding: 50px 0 30px;
    display: flex;
  }

  &__content{
    text-align: center;
    margin-top: 90px;
    width: 50%;
  }

  &__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 455px;
  }

  &__subtitle{
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 470px;
  }

  &__btn{
    padding: 16px 19px;
    text-transform: uppercase;
    background-color: #C5AC2D;
    color: #fefefe;
    font-size: 16px;
    line-height: 19px;
    transition: all .5s;
    border: 1px solid transparent; 

    &:hover{
      background-color: #fefefe;
      color: #C5AC2D;
      border: 1px solid #C5AC2D; 
    }
  }

  &__slider{
    position: relative;
    width: 50%;

    .slick-dots{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-text{
      padding-right: 100px;
      text-align: right;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 500;
    }

    span + span{
      padding-left: 12px;
    }
  }

  &__bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__items{
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  &__item{
    width: 150px;
    height: 150px;
    border: 1px solid #1b1b1b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s;

    &:hover{
      transform: scale(1.25);
    }
  }

  &__links{
    padding-right: 70px;
  }

  &__link{
    color: #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
    margin: 0 10px;
  }
}

@media(max-width: 1000px){
  .main{
    
    &__heading{

      display: block;
    }

    &__content{
      width: 100%;
      margin-top: 30px;
    }

    &__slider{
      width: 100%;
    }

    &__bottom{
      display: block;
    }

    &__items{
      width: 100%;
    }

    &__links{
      margin-top: 50px;
      text-align: center;
      padding-right: 0;
    }
  }
}

@media(max-width: 525px){
  .main{
    &__items{
      flex-wrap: wrap;
    }

    &__item{
      margin: 20px;
    }

    &__slider{
      &-text{
        padding-right: 0;
      }
    }
  }
}

@media(max-width: 400px){
  .main{
    &__item{
      width: 100%;
    }

    &__slider{
      &-text{
        text-align: right;
        
        span{
          display: block;
          margin: 10px 0;
        }
      }
    }

    &__links{
      text-align: center;
    }

    &__link{
      display: inline-block;
      margin: 10px 15px;
    }
  }
}

/*====================conditions===============================*/

.conditions{
  padding: 100px 0;

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__desc{
    width: 300px;
  }

  &__title{
    font-size: 24px;
    line-height: 29px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__text{
    margin-bottom: 20px;
  }

  &__text + &__text{
    margin-bottom: 40px;
  }

  &__btn{
    padding: 16px 19px;
    text-transform: uppercase;
    background-color: #C5AC2D;
    color: #fefefe;
    font-size: 16px;
    line-height: 19px;
    transition: all .5s;
    border: 1px solid transparent;
    display: inline-block; 

    &:hover{
      background-color: #fefefe;
      color: #C5AC2D;
      border: 1px solid #C5AC2D; 
    }
  }

  &__item{
    padding: 0 35px 40px;
    width: 250px;
    border: 1px solid #1b1b1b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-num{
      font-family: 'Fira Sans', sans-serif;
      font-size: 96px;
      line-height: 115px;
      opacity: 0.05;
    }

    &-title{
      font-family: 'Fira Sans', sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: auto;
    }
  }
}

@media(max-width: 1140px){
  .conditions{
    &__inner{
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__desc{
      width: 100%;
      margin-bottom: 50px;
      text-align: center;
    }
  }
}

@media(max-width: 860px){
  .conditions{
    padding: 50px 0;
    &__item{
      width: 100%;
      min-height:245px;
      margin: 30px;

      &-title{
        margin-bottom: 20px;
      }
    }
  }
}

@media(max-width: 410px){
  .conditions{
    &__item{
      margin: 20px 0;
    }
  }
}

/*===============benefits================*/

.benefits{
  padding: 100px 0;

  &__title{
    font-size: 24px;
    line-height: 29px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__list{
    width: 300px;

    &-item{
      margin-bottom: 27px;
      padding-right: 26px;
      position: relative;
      text-align: right;
      font-size: 16px;
      line-height: 19px;
      color: #000000;

      &::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #1b1b1b;
        right: 0;
        top: 3px;
      }

      &:nth-child(1),
      &:nth-child(7){
        margin-right: 10px;
      }

      &:nth-child(2),
      &:nth-child(6){
        margin-right: 60px;
      }

      &:nth-child(3),
      &:nth-child(5){
        margin-right: 110px;
      }

      &:nth-child(4){
        margin-right: 160px;
      }
    }
  }

  &__content{
    width: 300px;
    text-align: right;
  }

  &__text{
    margin-bottom: 30px;
    text-align: right;
  }

  &__text + &__text{
    width: 267px;
    margin-left: auto;
  }
}

@media(max-width: 1250px){
  .benefits{
    &__img{
      max-width: 40%;
    }
  }
}

@media(max-width: 1000px){
  .benefits{
    padding: 50px 0;

    &__inner{
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__content{
      width: 100%;
      margin-top: 40px;
    }

    &__content{
      text-align: center;
    }

    &__text{
      text-align: center;
      width: 100%;
      margin-left: 0;
    }

    &__text + &__text{
      margin-left: 0;
      width: 100%;
    }
  }
}

@media(max-width: 650px){
  .benefits{
    &__img{
      max-width: 70%;
    }

    &__list{
      width: 100%;
      &-item{
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 26px;

        &::after{
          left: 0;
        }

        &:nth-child(4){
          margin-right: 0;
        }
      }
    }

  }
}
/*--------------reviews-----------------*/

.reviews{
  padding: 100px 0;
  background-color: #332208;
  color: #fefefe;

  &__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 70px;
  }

  &__slider{
    

    .slick-dots{
    
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;

      button{
        background-color: #C5AC2D;
      }
    }

    button{
      margin: 0 5px;
      line-height: 12px;
    }
  }

  &__item{
    width: 240px;
    min-height: 300px;
    padding: 45px 30px;
    border: 1px solid #C5AC2D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    &-title{
      font-family: 'Fira Sans', sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 40px;
    }

  }

}

.slick-initialized .reviews__item{
  display: flex;
}

@media(max-width: 860px){
  .reviews{
    padding: 50px 0;
  }
}

@media(max-width: 586px){
  .reviews{
    &__item{
      margin-right: 0;
    }
  }
}
/*------------------feedback-----------------*/

.feedback{
  padding: 100px 0;

  &__inner{
    display: flex;
    align-items: center;
  }

  &__img{
    width: 50%;
  }

  &__form{
    width: 415px;
    margin: 0 auto;
  }

  &__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1B1818;
    margin-bottom: 5px;
  }

  &__text{
    margin-bottom: 30px;
  }

  &__input{
    display: block;
    padding: 20px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .1);
    outline: none;

    &::placeholder{
 
      font-size: 16px;
      line-height: 19px;
      color: #1b1b1b;
    }
  }

  &__btn{

    margin-top: 50px;
    padding: 16px 36px;
    text-transform: uppercase;
    background-color: #C5AC2D;
    color: #fefefe;
    font-size: 16px;
    line-height: 19px;
    transition: all .5s;
    border: 1px solid transparent;
    display: inline-block; 

    &:hover{
      background-color: #fefefe;
      color: #C5AC2D;
      border: 1px solid #C5AC2D; 
    }
  }
}

@media(max-width: 860px){
  .feedback{
    padding: 50px 0;
    &__img{
      display: none;
    }
  }
}

/*---------------footer------------*/

.footer{
  padding: 100px 0 24px;
  background-color: #332208;
  color: #fefefe;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  &__menu{

    &-list{
      display: flex;
    }

    &-item{
      margin: 0 15px;
    }
  }

  &__btn{
    padding: 16px 19px;
    text-transform: uppercase;
    background-color: #C5AC2D;
    color: #fefefe;
    font-size: 16px;
    line-height: 19px;
    transition: all .5s;
    border: 1px solid transparent; 

    &:hover{
      background-color: #fefefe;
      color: #C5AC2D;
      border: 1px solid #C5AC2D; 
    }
  }

  &__social{
    display: flex;
    justify-content: center;
    align-items: center;

    &-item{
      margin: 0 15px;
    }
  }

}

@media(max-width: 1000px){
  .footer{
    padding: 50px 0;
    &__menu{
      display: none;
    }
  }
}

@media(max-width: 450px){
  .footer{
    &__inner{
      flex-direction: column;
      align-items: center;
    }

    &__phone{
      margin-top: 30px;
      display: inline-block;
    }
  }
}